<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crazy Chess</title>
  <link rel="stylesheet" href={~p"/assets/css/app.css"}> <!-- Link to your CSS -->
  <style>
    body {
      background-image: url(<%= ~p"/assets/Images/LandingPageBackground.jpg.JPG" %>);
      background-size: cover;
      background-position: center;
      font-family: Arial, sans-serif;
      text-align: center;
      color: #000000;
    }
    header {
      margin: 20px 0;
    }
    .chess-board-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .chess-board {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 400px;
      height: 400px;
    }
    .chess-board button {
      margin: 5px;
      padding: 20px 50px;
      font-size: 16px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .chess-board button:hover {
      background-color: #555;
    }
  </style>
</head>
<body>
  <header>
    <h1>Welcome to Crazy Chess!</h1>
    <p>Experience chess like never before!</p>
  </header>

  <section class="chess-board-container">
    <div class="chess-board">
      <button onclick="window.location.href='/prepare'">Arrange pieces</button>
      <button onclick="window.location.href='/play'">Play Classic</button>
      <button onclick="window.location.href='/crazy'">Play Crazy</button>
      <button onclick="window.location.href='/war'">War Mode</button>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 Crazy Chess. All rights reserved.</p>
  </footer>
</body>
</html>
